/* Start Main Rulez */
body{
  background-color: #f4f4f4;
  font-size: 16px;
}
.asterisk{
  position: absolute;
  font-size: 30px;
  right: -5px;
  top: 0px;
  color: #d20707;
}
/* End Main Rulez */

/* Start Login Form */
.login h4{
  color: #888;
  margin-bottom: 15px;
}
.login{
  width: 300px;
  margin:100px auto;
}
.login input{
  margin-bottom: 10px;
}
.login .form-control{
  background-color: #eaeaea;
}
.login .btn{
  background-color: #008dde;
}
/* End Login Form */

/* Start Bootstrap Edits */
.navbar{
  border-radius: 0;
  margin-bottom: 0;
}
.nav > li > a,
.navbar-brand{
  padding: 0px 12px;
}
a.text-light:hover, a.text-light:focus {
  color: #dae0e5 !important;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #1f2b37;
}
.dropdown-divider{
  border-color: #575d64;
}
.dropdown-menu{
  border:0;
  border-radius: 0;
  left: 0;
}
.dropdown-menu a{
  padding: 10px 15px;
  transition: 0.3s;
}
.dropdown-menu a:hover{
  padding-left: 20px;
}
.navbar-brand{
  font-size: 1em;
}
.form-control{
  position: relative;
}

/* End Bootstrap Edits */

/* Strart Members Page */
h1{
  font-size: 55px;
  margin: 40px 0;
  font-weight: bold;
  color: #666;
}
.show-pass {
  position:absolute;
  top: 11px;
  right: 30px;
  font-size: 16px;
  color: #777;
  cursor: pointer;
}
.main-table{
  box-shadow: 0 0 10px 0 rgb(212, 211, 211);
}
.main-table tr:not(:first-of-type) td{
  background-color: #fff;
  vertical-align: middle !important;
}
.main-table tr:first-child{
  background-color: #333;
  color: #fff;
}
.main-table .btn{
  padding: 3px 10px;
}
.add-btn i{
  font-size: 13px;
}
/* End Members Page */